/* x-Small devices (portrait phones,less than 576px) */
@media only screen and (min-width: 0px) and (max-width: 574.98px) {
    .container{
        width: 95%;
    }
    .menu-items{
        display: none;

    }
    .hamburger-icon{
        display: block;
    }
  
  }
  /* Small device(lanscape phones, less than 768px) */
  @media only screen and (min-width: 575px) and (max-width: 767.98px) {
    .container{
        width: 95%;
    }
    .menu-items{
        display: none;

    }
    .hamburger-icon{
        display: block;
    }
  
  }
  /* Medium device(tablets, less than 992px) */
  @media only screen and (min-width: 768px) and (max-width: 990.98px) {
    .container{
        width: 90%;
    }
    .menu-items{
        display: none;

    }
    .hamburger-icon{
        display: block;
    }

  }
  /* Large device(dekstop, less than 1200px) */
  @media only screen and (min-width: 991px) and (max-width: 1198.98px) {
 
  }
  /* Extra large device */
  @media only screen and (min-width: 1199px) and (max-width: 1398.98px) {
  
  }
  
  /* Extra extra large device */
  @media only screen and (min-width: 1399px) {
  }